.gradle/
build/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


*.class
*.kt.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

.sts4-cache/

*.log
logs/

hs_err_pid*
replay_pid*

.idea/
*.iml
*.ipr
*.iws
out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.extLibs
bin/

.vscode/

.env
.env.*
application-local.yml
application-local.properties

.DS_Store
Thumbs.db
